<div class="col-sm-12" text="justify">
  <h1><b>TableFor:8</b> - A pop-up dinner party bringing people together over good food and great conversation, harnessing the best of communal eating, while allowing people to be actively involved rather than paying to be a spectator for the evening</h1>
  <br>
  <br>
</div>  

<blockquote>
<h3>"The idea was born out of a genuine wish to bring people together under optimal conditions for good company and a good meal. Small groups are always the best for memorable evenings. An optimal evening will involve 2 appetizers, 3 side dishes, 2 main dishes and 1 dessert. Six bottles of wine, non-alcoholic beverages, music in style with the evening's cuisine, low lighting, and a comfortable environment. It is then, we can truly unwind and appreciate each ohter"</h3>
<small>TechBender Leslie, <cite title="Source Title"> Founder of TableFor:8</cite></small>
</blockquote>

<br>

<div class="col-sm-12">
	<div class="well well-sm col-sm-5" id="spacer">
		<h2>But what is it exactly?</h2>
			<h4><b>A Pop-up Dinner Party to bring people together around exciting foods, good drinks, a warm environment, and great conversation</b></h4>
			<li>Designed for groups of 6 or 8, which studies have shown is the optimal amount of people to have where everyone feels welcome and the conversation flows freely</li>
			<li>It is for people who love to make and eat good food, but don't need to label themselves, and certainly not food snobs</li>
			<li>A night for people to savour great conversation and explore complex topics</li>
			<li>In an comfortable environment that is relaxed, warmly lit, with good music and good smells</li>
	</div>
		<div class="well well-sm col-sm-5" id="spacer">
			<h2>What it is not...</h2>
			<h4><b>It isn't pretentious. It isn't like Eatwith or any paid dining site. You will not be paying $50-100 per person. This isn't a business for our hosts.</b></h4>
			<li>This also isn't a traditional potluck or a random Meetup event. The evenings created by our hosts have specific menus with set dishes, carefully selected beverages, along with specific music and thoughtfully constructed environements</li>
			<li>And finally, it isn't a restaurant. Do not arrive and expect to waited on, there is no wait staff on hand. </li>
			<li>Fellow dinners will also be preparing a specific dish to share at the meal and everyone will help in the serving efforts</li>
</div>



  


