<h1 id="dinner-welcome"><center>Welcome to <b>TableFor:8</b> - The Pop-Up Dinner Party Experience</center></h1>
<br>


<!-- <button class="btn btn-primary" ng-click="index.displayAddDinner = true">Create a New Dinner Party</button> -->
<!-- ng-show="index.displayAddDinner" -->
<div class="well col-sm-4" >
<div ng-show="!main.currentUser()">
  <h3>Sign up or Login to Host a <strong>TableFor:8</strong> Dinner Party!</h3>
</div>
<form class="form-horizontal" role="form" ng-show="main.currentUser()" ng-submit="index.createDinner()">
	<fieldset>
		<legend>Add a New Dinner</legend>
		
		<div class="form-group">
      <label for="dinnername" class="col-sm-2 control-label">Dinner Name</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.dinnername" class="form-control" id="dinnername" placeholder="Name for Dinner Event"/>
      </div>
    </div>

    <div class="form-group">
      <label for="image" class="col-sm-2 control-label">Image</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.image" class="form-control" id="image" placeholder="Image to represent this meal"/>
      </div>
    </div>

    <div class="form-group">
      <label for="cuisinetype" class="col-sm-2 control-label">Type of Cuisine</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="index.new_dinner.cuisinetype" id="cuisinetype">
          <option>African</option>
          <option>Traditional American</option>
          <option>British</option>
          <option>Californian</option>
          <option>Caribbean</option>
          <option>Chinese</option>
          <option>East European</option>
          <option>Fusion</option>
          <option>French</option>
          <option>Greek</option>
          <option>Indian</option>
          <option>Irish/Scotish</option>
          <option>Italian</option>
          <option>Japanese</option>
          <option>Korean</option>
          <option>Mexican</option>
          <option>Mediterranean</option>
          <option>Middle Eastern & Turkish</option>
          <option>Nordic</option>
          <option>North African</option>
          <option>Portuguese</option>
          <option>Seafood</option>
          <option>South American</option>
          <option>Spanish</option>
          <option>Thai & SE Asian</option>
          <option>Vegetarian</option>
          <option>Vietnamese</option>
          <option>Other</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="drinks" class="col-sm-2 control-label">Drinks</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.drinks" class="form-control" id="drinks" placeholder="Each Cocktail/Beverage for this Meal"/>
      </div>
    </div>

    <div class="form-group">
      <label for="dishes" class="col-sm-2 control-label">Dishes</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.dishes" class="form-control" id="dishes" placeholder="Each Dish for this Meal"/>
      </div>
    </div>

    <div class="form-group">
      <label for="where" class="col-sm-2 control-label">Where?</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.where" class="form-control" id="where" placeholder="Where exactly will this dinner be held?"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Capacity</label>
      <div class="col-sm-9">
        <div class="radio">
          <label>
            <input type="radio" ng-model="index.new_dinner.capacity" name="capacity" id="capacity6" value="6">
            6 people
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="index.new_dinner.capacity" name="capacity" id="capacity8" value="8">
           8 people
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="calendar" class="col-sm-2 control-label">Calendar</label>
      <div class="col-sm-9">
        <input type="date" ng-model="index.new_dinner.calendar" class="form-control" id="calendar" placeholder="Date of Dinner Event: "/>
      </div>
    </div>


    <div class="form-group">
      <label for="time" class="col-sm-2 control-label">Time</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="index.new_dinner.time" id="time">
          <option>6:00 pm</option>
          <option>7:00 pm</option>
          <option>8:00 pm</option>
          <option>9:00 pm</option>
          <option>Other (see notes)</option>
        </select>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="dishes" class="col-sm-2 control-label">Dishes</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.dishes" class="form-control" id="dishes" placeholder="Dishes at this Dinner: "/>
      </div>
    </div> -->


    <div class="form-group">
      <label for="hostedby" class="col-sm-2 control-label">Hosted By</label>
      <div class="col-sm-9">
        <input type="text" ng-model="index.new_dinner.hostedby" class="form-control" id="hostedby" placeholder="Hosted By: "/>
      </div>
    </div>

    <div class="form-group">
      <label for="notes" class="col-sm-2 control-label">Notes</label>
      <div class="col-sm-9">
        <textarea ng-model="index.new_dinner.notes" class="form-control" rows="8" id="notes" placeholder="Menu/Notes:">
        </textarea>
      </div>
    </div>

    
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-4">
        <button type="reset" ng-click="index.displayAddDinner= false" class="btn btn-default">Cancel</button>&nbsp;
        <button type="submit" ng-click="index.displayAddDinner= false" class="btn btn-primary">Submit</button>
      </div>
    </div>
  <!--   </div> -->
 
	</fieldset>
</form>
</div>
</div>


<div class="col-lg-7 col-lg-offset-1">
  <div class="panel panel-default" id="dinner-list">
    <div ng-repeat="dinner in index.dinners" class="list-group-item">

      <!-- <div ng-hide="dinner.editForm"> -->
      <div class="pull-right">
      <!--  <a href="#" ng-click="dinner.editForm = true"><h2><i class="fa fa-pencil"></i></h2></a> -->
        <a href="#" ng-click="index.deleteDinner(dinner)"><h4>X</i></h4></a>
      </div>

      <a ng-href="/dinners/{{dinner._id}}"><h2 class="list-group-item-text" id="dinner-name"><b><em>{{dinner.dinnername}}</em></b></h2></a>

      <h3 class="list-group-item-text" id="cuisine-type">CUISINE:&nbsp; <b>{{dinner.cuisinetype}}</b></h3>
      <img ng-src="{{dinner.image}}" class="img-responsive">
      <br>
      <h4 class="list-group-item-text" id="when">DATE:&nbsp; <strong>{{dinner.calendar | date:'MMMM dd, yyyy'}}&nbsp; - &nbsp;{{dinner.time}}</strong></h4>
      <h4 class="list-group-item-text" id="where">LOCATION:&nbsp; <strong>{{dinner.where}}</strong></h4>
      <h4 class="list-group-item-text" id="capacity">DINNER PARTY SIZE:&nbsp; <strong>{{dinner.capacity}} Guests</strong></h4>
      <hr>
  </div>
  </div>
</div>
   













